@font-face {
    font-family: 'Monaco';
    src: url('Monaco.ttf');
}

body{
    overflow: hidden;;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#background {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: cover;
    animation: animatedBackground 70s linear infinite;
    animation-direction: alternate;
    position: absolute;
    overflow: hidden;
    z-index: -1;

}

#pattern{
    background:rgba(0,0,0,0.15) url(pattern.png);
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.wrapper{
    text-align: center;
    padding-top: 20px
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  letter-spacing: 3.5vw;
  font-size: 7vh;
  font-family: Monaco, monospace;
}

br {
    line-height: 10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.highlighted{
    color: #ffffe6;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.dimmed{
    color: #433d3d;
    opacity: 0.7;
}
/*Spinning cog*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.button {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.cog {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media (max-width: 420px) {
  span {
    letter-spacing: 0;
  }
  .wrapper {
    margin: 0;
  }
  br {
      line-height: 0;
  }
}
