h1{
    text-align: center;
}
.wrapper{
    text-align: center;
    margin: auto;
    width: 66%;
    height: 100%;
    background-color: grey;
}

span {
  letter-spacing: 30px;
  font-size: 80px;
  font-family: "Lucida Console";
}

br {
  line-height: 30px;
}
